body {
	background-color: #000000BB;
}

body div.bg {
	top: 25vh;
	left: 25vw;
	position: absolute;
	height: 50%;
	width: 50%;
	background-image: url("assets/img/ORDO.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: -1;
	opacity: 0.2;
}

#heads {
	height: 50px;
	width: 90vw;
	background-color: #dfdfd0;
	margin: 15px auto; 
	position: relative;
	z-index: 10;
}

#heads div.btn {
	font: 22px Arial;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    color: white;
	width: 150px;
}

.crt span {
	font-size: 7vw;
	color: white;
	position: absolute;
	left: 32vw;
	top: 40vh;
	transform: rotate(-30deg);
	opacity: 0.7;
}