@font-face { font-family: Estrangeiro; src: url('assets/fonts/OutroLado_Regular.ttf'); } 
@font-face { font-family: Ordem; src: url('assets/fonts/Ordem.ttf'); } 

:root {
  --ENERGIA: #9a00fd;
  --CONHECIMENTO: #bf9100;
  --SANGUE: #b1161a;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body {
	background-image: linear-gradient(white, black);
	margin: 0px;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
	overflow: scroll;
	height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

body.ocultismo {
	background-image: linear-gradient(WHITE, var(--SANGUE)) !important;
}

a {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

.text-404 {
	margin: 15% auto; 
	width: 50%; 
	height: 50%; 
	text-align: center; 
	font-family: Ordem; 
	font-size: 50px; 
	color: white; 
	text-shadow: 0px 0px 5px var(--ENERGIA);
}

.bg-404 {
	background-image: url(404.jpg); 
	background-position: 0% 40%; 
	background-size: cover;
	overflow: hidden;
}

.haha {
	font-family: Ordem;
	font-size: 72px;
	color: white;
	text-shadow: 0px 0px 5px var(--ENERGIA);
	opacity: 0.7;
	position: absolute;
	transform: rotate(-45deg);
	animation: shake 0.3s infinite;
}

.haha1 {
	top: 15%; 
	left: -15%;
}

.haha2 {
	bottom: 15%; 
	right: -15%;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0) rotate(-45deg);
  }
  
  20%, 80% {
    transform: translate3d(2px, 2px, 0) rotate(-45deg);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, -4px, 0) rotate(-45deg);
  }

  40%, 60% {
    transform: translate3d(4px, -4px, 0) rotate(-45deg);
  }
}

.marquee {
	font-family: Ordem;
	font-size: 48px;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	color: white;
	text-shadow: 0px 0px 5px var(--ENERGIA);
	letter-spacing: 6px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

.marquee2 span {
  animation-delay: 5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

body .crt .bg {
	background-image: url("assets/img/ORDO.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0.2;
}

#back_logo {
	top: 18vh;
	left: 35vw;
	position: fixed;
	width: 30vw;
	z-index: -5;
	filter: invert(1);
	mix-blend-mode: difference;
}

#info_msg {
	z-index: -4;
	position: fixed;
	left: 32vw;
	top: 45vh;
	transform: rotate(-30deg);
	font-family: Estrangeiro;
	font-size: 7vw;
	color: white;
	mix-blend-mode: difference;
}

body .crt img {
	mix-blend-mode: difference;
}

#heads {
	height: 50px;
	width: 90vw;
	background-color: #dfdfd0;
	margin: 15px auto; 
	position: relative;
	z-index: 10;
}

#heads div.btn {
	font: 22px Arial;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    color: white;
	width: 150px;
}

.crt {
	position: fixed;
	z-index: -100;
	height: 100vh;
	width: 100vw;
	opacity: 0.5;
	top: 0px;
	left: 0px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.crt span {
	
	position: absolute;
	
	
}

#menu {
	border-right: 5px solid var(--CONHECIMENTO) !important;
	top: 0px;
}

#menu, #extra_ars {
	position: absolute;
	background-color: #ffffffee;
	height: 50px;
	width: 50px;
	border: none;
	z-index: 50;
	transition: 0.5s height, width 0.5s;
	transition-delay: 0s, 0.5s;
	overflow: hidden;
}

#menu button, #extra_ars button {
	position: relative;
	width: 50px;
	height: 50px;
	border: none;
	margin: 0px;
	float: right;
	z-index: 15;
	background-image: url("assets/img/ORDO.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

/*
#menu button:hover {
	animation: elementos 5s infinite;
}

@keyframes elementos {
	0% {
		background-color: white;
	} 20% {
		background-color: black;
	} 40% {
		background-color: var(--SANGUE);
	} 60% {
		background-color: var(--CONHECIMENTO);
	} 80% {
		background-color: var(--ENERGIA);
	} 100% {
		background-color: white;
	}
}
*/

#menu.open button {
	width: 50px;
}

#menu.open {
	width: 300px;
	height: 150px;
	transition: width 0.5s, height 0.5s;
	transition-delay: 0s, 0.5s;
}

#opcs {
	position: absolute;
	left: 0px;
	width: 275px;
	text-align: center;
}

#opc1, #opc2, #opc3 {
	font-family: Ordem;
	cursor: pointer;
	display: inline-block;
	font-size: 22px;
	line-height: 50px;
	height: 50px;
	padding: 0px 15px;
	margin-left: 10px;
}

#opc1:hover, #opc2:hover, #opc3:hover {
	font-weight: bold;
	animation: elementos_sombra 5s infinite;
}

@keyframes elementos_sombra {
	0% {
		text-shadow: 0px 0px 5px white;
	} 20% {
		text-shadow: 0px 0px 5px black;
	} 40% {
		text-shadow: 0px 0px 5px var(--SANGUE);
	} 60% {
		text-shadow: 0px 0px 5px var(--CONHECIMENTO);
	} 80% {
		text-shadow: 0px 0px 5px var(--ENERGIA);
	} 100% {
		text-shadow: 0px 0px 5px white;
	}
}

#extra_ars {
	width: 100px;
	height: 550px;
	background-image: none;
	position: fixed;
	right: 0px;
	bottom: -500px;
	text-align: center;
	border-left: 5px solid var(--ENERGIA);
	transition: bottom 0.5s, width 0.5s;
	transition-delay: 0s, 0.5s;
}


#extra_ars button{
	display: inline-block;
	font-family: Estrangeiro;
	font-size: 22px;
	background-image: none;
	width: 100%;
	float: none;
}

#extra_ars button:hover {
	font-family: Ordem;
}

#extra_ars.open {
	width: 400px;
	bottom: 0px;
	transition: all 2s;
	transition: width 0.5s, bottom 0.5s;
	transition-delay: 0s, 0.5s;
} 

#extra_ars.open {
	text-align: center;
}

.table.extra {
	width: 100%;
	color: black;
	line-height: inherit;
	margin: 0 auto;
}

#EleMonstro {
	padding: 5px;
	width: 80vw;
	margin: 5% 8% 0% 8%	;
	background-color: white;
	text-align: center;
}

#EleMonstro div {
	position: relative;
	width: calc(50% - 5px);
	height: 33vh;
	min-width: 450px;
	display: inline-block;
	transition: filter 0.5s;
	color: white;
}

#CONHECIMENTO, #ENERGIA {
	top: 5px;
	margin-bottom: 5px;
}

#MEDO {
	top: 10px;
}

#EleMonstro #MEDO {
	width: 100%;
}

#MORTE .bg, #SANGUE .bg, #ENERGIA .bg, #CONHECIMENTO .bg{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-size: cover;
	opacity: 0.85;
}

#MORTE .bg{
	background-image: url(assets/img/bestiario/morte/Deus_da_Morte.jpg);
	background-position: 0% 10%;
	
}

#SANGUE .bg{
	background-image: url(assets/img/bestiario/sangue/Diabo.jpg);
	background-position: 50% 42%;
	background-size: cover;
}

#CONHECIMENTO .bg{
	background-image: url(assets/img/bestiario/conhecimento/Mascara_do_Desespero.jpg);
	background-position: 0% 10%;
	background-size: cover;
}

#ENERGIA .bg{
	background-image: url(assets/img/bestiario/energia/4nf1tr140.jpg);
	background-position: 50% 42%;
	background-size: 150%;
	transition: 1ms;
}

#MORTE .content, #SANGUE .content, #CONHECIMENTO .content, #ENERGIA .content {
	position: relative;
	z-index: 5;
	line-height: 25vh;
	vertical-align: middle;
	font-size: 50px;
	font-family: Ordem;
	opacity: 0;
	transition: opacity 0.5s;
}

#MORTE:hover .bg, #SANGUE:hover .bg, #CONHECIMENTO:hover .bg{
	filter: blur(2px);
}

#ENERGIA:hover .bg {
	animation: anfitriao 1.422222s infinite;
}

@keyframes anfitriao {
	0% {
		background-position: 50% 20%;
	} 19 {
		background-position: 50% 20%;
	} 20% {
		background-position: 10% 0%;
	} 39 {
		background-position: 10% 0%;
	} 40% {
		background-position: 60% 30%;
	} 59 {
		background-position: 60% 30%;
	} 60% {
		background-position: 42% 42%;
	} 79 {
		background-position: 42% 42%;
	} 80% {
		background-position: 25% 92%;
	} 99% {
		background-position: 25% 92%;
	} 100 % {
		background-position: 12% 95%;
	}
}

#EleMonstro div:hover .content {
	opacity: 1;
}

#MORTE .content {
	color: black;
	text-shadow: 0px 0px 4px white;
}

#SANGUE .content {
	color: var(--SANGUE)	;
	text-shadow: 0px 0px 4px white;
}

#CONHECIMENTO .content {
	color: var(--CONHECIMENTO);
	text-shadow: 0px 0px 4px black;
}

#ENERGIA .content {
	color: var(--ENERGIA);
	text-shadow: 0px 0px 4px white;
}

.polaroid {
	cursor: pointer;
	z-index: 10;
	width: 310px;
	padding: 20px;
	height: 380px;
	background-color: white;
	box-shadow: 0px 0px 4px gray;
	text-decoration: none;
	transition: box-shadow 0.5s;
}

.polaroid:hover {
	box-shadow: 0px 0px 10px var(--ENERGIA);	
}

.polaroid .img {
	width: 310px;
	height: 310px;
	margin-bottom: 20px;
}

.polaroid.arsenal {
	margin-top: 135px;
	margin-left: 50px;
	transform: rotate(-20deg);
}

.polaroid.arsenal .img {
	background-image: url(assets/img/ordem/arsenal.jpg);
	background-size: 400px;
	background-position: -50px;
}

.polaroid.ocultismo {
	top: 545px;
	margin-left: 113px;
	transform: rotate(15deg);
}

.polaroid.ocultismo .img {
	background-image: url(assets/img/ordem/sala_ocultismo.jpg);
	background-size: 400px;
	background-position: -35px;
}

.polaroid.credito {
	float:right;
	bottom: -413px;
	left: 113px;
	margin: 13px;
	margin-bottom: 50px;
	transform: rotate(-13deg);
}

.polaroid.credito .img {
	background-image: url(https://i.pinimg.com/564x/5a/e5/27/5ae52768effb118485a523f1f9b83448.jpg);
	background-size: 400px;
	background-position: -42px -10px;
}

.polaroid .text {
	font-family: Ordem;
	font-size: 32px;
	text-align: center;
}

.polaroid.arsenal img {
	position: absolute;
	top: 85px;
	left: 25px;
	opacity: 0.5;
	transform: rotate(-50deg);
}

.polaroid.ocultismo img {
	position: absolute;
	top: 95px;
	left: 23px;
	opacity: 0.5;
	transform: rotate(42deg);
}

.table {
	font-family: Ordem;
	color: white;
	font-size: 20px;
	font-weight: bold;
	float:left;
	text-align: center;
	margin: 45px 5vw;
	margin-right: 0px;
}

.table.right {
	float: right;
	margin-left: 0px;
	margin-right: 5vw;
}

.table.meio {
	margin-top: 15px;
	margin: 0 auto;
	max-width: 75vw;
	padding: 5vw;
	float: none;
}

.table.meio .limites {
		float: right;
		margin-right: 5vw;
	}

.table.meio table{
	width: 100%;
	margin: 0 auto;
}

.table.half {
	width: 100%;
}

.table.half div:first-of-type {
	width: 35%;
	float: left;
	margin: 15px;
	margin-left: 5vw;
}

.table.half div {
	width: 35%;
	float: right;
	margin: 15px;
	margin-right: 15vw;
	text-align: center;
}

.table.half div table {
	text-align: center;
	display: inline-block;
}

table .catitem {
	width: 80px;
}

table {
	font-family: Ordem !important;
	font-weight: normal;
	color: black; 
	overflow: hidden;
	margin: 15px 0px;
	background-color: #FFFFFFDD;
	transition: all 1s !important;
	cursor: pointer;
}

.patnum {
	text-alin: center;
}

tr , tr td {
	transition: all 1s !important;
}

thead tr .nome {
	width: 150px;
}

.long_name {
	padding: 20px 5px !important;
	text-align: center !important;
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
}

.tg td{
	border-color:black;
	border-width:1px;
	font-size:16px;
	padding:9px 20px;
	word-break:normal;
	transition: all 1s !important;
}

.tg th{
	
	border-color:black;
	border-style:solid;
	font-size:18px;
	font-weight:normal;
	overflow:hidden;
	padding:9px 20px;
	word-break:normal;
	color: var(--SANGUE);
	font-weight: bold;
 }
 
 td.no_bot {
	 border-bottom: 0px;
 }
 
 td.no_top {
	 border-top: 0px;
 }

td.no_bot, td.no_top {
	font-style: italic;
	font-weight: bold;
}

thead {
	border-bottom: 5px solid var(--SANGUE);
}

thead tr, thead tr th {
	border: 0px;
}

tbody tr:not(.munic) td:not(.patnum):first-of-type {
	text-align: left;
	font-weight: bold;
}

tbody tr td {
	text-align: center;
}

tbody, tr {
	border-left: 0px;
}

tr:hover {
  background-color: white;
  transition: all 1s;
}

td, th {
  position: relative;
}

td:not(.no_top, .no_bot):hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

td.no_top {
	height: 30px;
	border-bottom: solid 1px black;
	color: var(--CONHECIMENTO);
}

.creditos {
	margin: 15vh auto;
	width: 50vw;
	font-family: Ordem;
	text-align: center;
	font-size: 22px;
	background-color: #FFFFFFAA;
	padding: 50px;
}

div.paranormal {
	color: var(--ENERGIA);
	text-shadow: 0px 0px 2px white;
}

div.paranormal table {
	background-color: black;
}

div.paranormal table th {
	background-color: white;
}

div.paranormal table td {
	color: white;
	animation: paranormal 2s linear infinite;
}

div.paranormal table tr:hover td {
	color: black;
}

@keyframes paranormal {
	0% {
		text-shadow: 0px 0px 2px white;
	} 50% {
		text-shadow: 0px 0px 2px var(--ENERGIA);
	} 100% {
		text-shadow: 0px 0px 2px white;
	}
}

#selector {
	background-color: black;
	height: 60px;
	width: 100vw;
	text-align: center;
	color: white;
}

input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	border: 1px solid white;
	color: white;
	margin-bottom: 10px;
	z-index: 6;
	font-family: Ordem;
	margin: 10px;
}

input[type="checkbox"]:checked + label {
  border: 1px solid white;
  color: white;
}

#label_con, #label_san, #label_mor, #label_ene{
	overflow: hidden;
}

#label_con::after,
#label_san::after,
#label_mor::after,
#label_ene::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: -1;
	transition: top 1s;
}

#label_con::after {
	background-color: var(--CONHECIMENTO);
}

#label_san::after {
	background-color: var(--SANGUE);
}

#label_mor::after {
	background-color: GRAY;
}

#label_ene::after {
	background-color: var(--ENERGIA);
}

input[type="checkbox"]:checked + #label_con::after,  
input[type="checkbox"]:checked + #label_san::after, 
input[type="checkbox"]:checked + #label_mor::after, 
input[type="checkbox"]:checked + #label_ene::after {
	top: 0px;
}

#rituais {
	margin: 75px;
	width: calc(100vw - 150px);
}

#rituais .card {
	padding: 10px;
	width: 30%;
	text-align: center;
	background-color: white;
}

#rituais .card h2 {
	font-size: 26px;
	font-family: Ordem;
	position: relative;
	line-height: 60px;
	margin-top: 0px;
}

#rituais .card h2::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 5;
    background-size: contain;
    background-repeat: no-repeat;
	top: 0px;
	left: 15px;
}

#rituais .card.morte h2::before {
	background-image: url("assets/img/elementos/MORTE.png");
}

#rituais .card h2::after {
	content: "";
    position: absolute;
	width: 95%;
	
	bottom: 0px;
	left: 2.5%;
}

#rituais .card.morte h2::after {
	border-bottom: 2px solid black;
}

.text {
	text-align: justify;
	width: 100%;
	font-family: Arial;
}

.text span {
	font-size: 18px;
	color: var(--SANGUE);
	margin-bottom: 5px;
}

.roll {
	display: inline-block;
	padding: 15px;
	width: calc(33% - 32px);
}

.card.morte .roll {
	background-color: black;
	color: white;
}



@media only screen and (max-width: 680px) {
	html {
		max-width: 100vw;
	}
	
	#back_logo {
		left: 10vw;
		width: 80vw;
	}
	
	#info_msg {
		left: 13vw;
		top: 35vh;
		font-size: 15vw;
	}
	
	.text-404 {
		margin-top: 25vh;
		width: 90vw;
	}
	
	.haha {
		filter: rotate(-45deg);
	}
	
	.haha1 {
		top: -50px;
		left: -100px;
	}
	
	.haha2 {
		bottom: 50px;
		right: -100px;
	}
	
	#menu.open, #extra_ars.open {
		width: calc(100vw - 5px);
	}
	
	#opcs {
		width: calc(100vw - 30px);
	}
	
	#EleMonstro {
		margin: 5% 0% 0% 0%;
		width: calc(100vw - 10px);
		margin: 0px;
	}
	
	#EleMonstro div {
		width: 100%;
		min-width: 100%;
	}
	
	#SANGUE {
		top: 5px;
	}
	
	#CONHECIMENTO {
		top: 10px;
	}
	
	#ENERGIA {
		top: 15px;
		margin-bottom: 15px;
	}
	
	#EleMonstro #MEDO {
		top: 20px;
	}
	
	.table {
		margin: 3px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	
	.table.right {
		margin: 3px;
	}
	
	.table.meio {
		font-size: 13px;
		max-width: 100vw;
		width: 100%;
		margin: 0 auto;
		margin-top: 50px;
		padding: 0px;
	}
	
	.table.meio .limites {
		float: right;
		margin-right: 0vw;
	}
	
	table {
		font-size: 12px !important;
		margin: 0px;
		max-width: 100vw;
		margin-top: 15px;
	}
	
	.tg th {
		font-size: 12px;
		padding: 10px 3px;
	}
	
	.tg td {
		font-size: 10px;
		padding: 4px 2px;
	}
	
	.creditos {
		padding: 25px;
		font-size: 18px;
		width: calc(100vw - 50px);
	}
	
	.polaroid.credito {
		bottom: -713px;
		right: 13px;
		margin: 13px;
		transform: rotate(-13deg);
	}
	
	.table.half div {
		width: 100vw !important;
		margin: 0px !important;
		clear: both;
	}
	
	.table.half div table {
		width: 100%;
		margin: 0px;
		display: table;
	}
	
	div.table.paranormal {
		width: 100vw;	
	}
	
	div.table.paranormal table {
		width: 100%;
	}
}










































