 @font-face { font-family: Estrangeiro; src: url('OutroLado_Regular.ttf'); } 
 @font-face { font-family: Datilografado; src: url('Datilografado.ttf'); } 

body {
	background-color: #000000BB !important;
	margin: 0px;
}

body div.bg {
	top: 25vh;
	left: 25vw;
	position: absolute;
	height: 50%;
	width: 50%;
	background-image: url("assets/img/ORDO.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: -1;
	opacity: 0.2;
}

#heads {
	height: 50px;
	width: 90vw;
	background-color: #dfdfd0;
	margin: 15px auto; 
	position: relative;
	z-index: 10;
}

#heads div.btn {
	font: 22px Arial;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    color: white;
	width: 150px;
}

.crt span {
	font-family: Estrangeiro;
	font-size: 7vw;
	color: white;
	position: absolute;
	left: 32vw;
	top: 42vh;
	transform: rotate(-30deg);
	opacity: 0.7;
}

#menu {
	position: sticky;
	background-color: #ffffffcc;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: none;
	z-index: 0;
	transition: 1s;
	margin: 15px;
	overflow: hidden;
}

#menu button {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: none;
	margin: 0px;
	float: right;
	background-color: red;
	z-index: 15;
}

#menu.open button {
	width: 50px;
}

#menu.open {
	width: calc(100% - 30px);
	border-radius: 50px;
}

#opcs {
	position: absolute;
	left: calc(25vw - 30px);
	width: 50vw;
	text-align: center;
}

#opc1, #opc2, #opc3 {
	font-family: Datilografado;
	cursor: pointer;
	display: inline-block;
	font-size: 22px;
	line-height: 50px;
	height: 50px;
	padding: 0px 15px;
	background-color: blue;
	color: white;
}
